<h2>Ejercicio 2: Construir un componente para realizar la siguiente app creando una clase tipo empleado</h2>
<p>Nombre: <input/></p>
<p>Edad: <input/></p>
<p>¿Mayor de edad?: </p>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
<table>
    <tr>
        <th>Sueldos</th>
    </tr>
    <tr>
        <td>1700</td>
    </tr>
    <tr>
        <td>1600</td>
    </tr>
    <tr>
        <td>1900</td>
    </tr>
</table>

